<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="template-meta" 
            template-name="Concise Letter I" 
            template-tag="letter" 
            desciption="A concise letter template."
        />
        <title>Beautiful Letter</title>
        <link rel="stylesheet" href="Concise Letter I.css" />
    </head>
    <body>
        <div class="letter-container">
            <header>
                <div>
                    <div class="letter-address input-field" name="Writer Address">
                        <p>John Doe</p>
                        <p>123 Main Street</p>
                        <p>City, Country 12345</p>
                    </div>
                </div>
                <div class="letter-date input-field" name="Date">
                    <p>July 27, 2024</p>
                </div>
            </header>
            <main>
                <div class="letter-main input-field",name="Content">
                    <p>Dear Jane,</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Vivamus lacinia odio vitae vestibulum vestibulum. Cras
                        venenatis euismod malesuada. Nullam ac erat ante Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit.
                        Vivamus lacinia odio vitae vestibulum vestibulum. Cras
                        venenatis euismod malesuada. Nullam ac erat ante.
                        <strong>
                            ipsum dolor sit amet, consectetur adipiscing elit.
                        </strong>
                        Tincidunt arcu proin velit urna feugiat morbi. Per nam
                        tempus lobortis pulvinar ante tristique dictum
                        malesuada. Eget in commodo nec taciti sollicitudin
                        varius class sodales varius. Rutrum himenaeos diam
                        quisque in nulla eros. 
                    </p>
                    <p> Nest habitasse pharetra
                        placerat lacinia nulla donec nulla. Urna hendrerit eros
                        convallis tincidunt vehicula commodo ligula cursus.
                        Class vestibulum sodales etiam senectus leo fermentum
                        elementum donec? Inceptos justo primis phasellus rutrum
                        orci. Rhoncus hendrerit quam odio dignissim vestibulum
                        natoque lobortis.
                    </p>
                </div>
            </main>
            <div class="spacer"></div>
            <footer>
                <p>Sincerely,</p>
                <div class="letter-name input-field">
                    <p>John Doe</p>
                </div>
            </footer>
        </div>
    </body>
</html>
